.idea/
__pycache__/

DecompressTests/extracted_data/
DecompressTests/data/
DecompressTests/_rendered/
DecompressTests/release/
DecompressTests/Scripts/
DecompressTests/build-*.md

.tools/extracted_data
.tools/data
.tools/release